#allMap {
  width: 1000px;
  height: 600px;
}
.marker {
  position: absolute;
  top: -20px;
  right: -118px;
  color: #fff;
  padding: 4px 10px;
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
  white-space: nowrap;
  font-size: 12px;
  font-family: '';
  background-color: #389EF2;
  border-radius: 3px;
}
.circle {
  border-radius: 50%;
  width: 84px;
  height: 84px;
  font-size: 12px;
  display: flex;
  text-align: center;
  background-color: #389EF2;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
}
.circle-hover {
  border-radius: 50%;
  width: 84px;
  height: 84px;
  font-size: 12px;
  display: flex;
  text-align: center;
  background-color: #f73325;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
}
